<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://app.koofr.net/content/api/v2/mounts/ba85f16d-5600-4992-b8e3-6160e242a735/files/get/PUBG%20MOBILE_4.2.0_%E5%85%A8%E7%90%83S3F.ipa?path=%2FPUBG%20MOBILE_4.2.0_%E5%85%A8%E7%90%83S3F.ipa>
          <key>kind</key>
          <string>display-image</string>
          <string>https://picsum.photos/120/120</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.pubg.global</string>
        <key>bundle-version</key>
        <string>4.2.0</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>PUBG GRSM S1</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
