<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://dl-app.feejii.com/storage/files/2026/02/24/3/5020167223/1771918014899333.gz?t=699d736d&amp;rlimit=20&amp;us=WtRJi7fzWC&amp;sign=5d19c1078f6c602be6206839b67f654d&amp;download_name=%E6%B3%BD%E5%A1%94ZETA_%E5%85%A8%E7%90%83S6.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.tencent.ig</string>
                <key>bundle-version</key>
                <string>1.0.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>泽塔ZETA</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
